:root{
    --black: #000;
    --white: #fff;
    --light-grey: #e1e1e1;
    --green-hospital: #28DF99;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--light-grey);
    color: var(--black);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-block-start: 3rem;
}

/* || header */

header{
    display: flex;
    align-items: center;
    height: 6rem;

    background-color: var(--green-hospital);
}
h1{
    padding-inline: 1rem;
}


/* || Cards */

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    grid-template-rows: repeat(auto-fill, 18.4rem);
    gap: 1rem;

    width: 80%;
    max-width: 60rem;
    padding-inline: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-width: 14rem;
    height: 17.8rem;
    border-radius: .3rem;
    box-shadow: 0px 1px 1px rgba(0,0,0, .1);
    overflow: hidden;

    background-color: var(--white);
}
.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 14rem;
    padding: .6rem 1rem;
    box-sizing: border-box;
}
.card img{
    justify-self: center;
    
    max-width: 14rem;
    min-height: 15rem;
    
    object-fit: cover;
}
.card:hover{
    min-height: 18.4rem;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0, .2);
}
.card .price{
    font-size: 1.4rem;
}
.card .title{
    font-size: 1.2rem;
}
